<?xml version='1.0' encoding='utf-8'?>
<widget id="apptruyen.comic.olongvien" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ô Long Viện</name>
    <description>
        Truyện xoay quanh ngôi chùa Ô Long Viện (gọi là Thuyền Viện Ô Long chứ nhảy). Tuyến nhân vật rất đa dạng, có gần 1 trăm nhân vật, mỗi người mang một tính cách và đẳng cấp "khùng" khác nhau. Truyện bắt được nhiều yếu tố, điển tích, tích, thuyết cổ xưa và phiều tình tiết hiện đại. Xem lại bạn có thể thấy nhiều tình tiết trong truyện được các đạo diễn trunng Quốc dựng thành các đoạn hài trong film của (có cả Châu Tinh Trì) , Thỉnh thoảng 1 vài truyện cười mang tính triết lý và độ cao thâm sâu sắc.
</description>
    <author email="info@apptruyen.com" href="http://apptruyen.com">
        App truyen
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<preference name="fullscreen" value="true" />
    <preference name="permissions" value="none" />
	<preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
	
	<!-- File save at which location -->
	<preference name="AndroidPersistentFileLocation" value="Internal" />
	<preference name="iosPersistentFileLocation" value="Library" />

    <icon src="icon.png" />
    <gap:splash src="icon.png" />
	
	<!-- remove title bar android -->
    <icon src="icon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icon.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
	
	<!-- allow access everywhere on internet -->
    <access origin="*" />
</widget>
