<?xml version='1.0' encoding='utf-8'?>
<widget id="apptruyen.comic.olongvien" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Do Re Mon Doraemon</name>
    <description>
        Là câu chuyện kể về chú mèo máy có tên là "Doraemon". Trở về từ thế kỷ 22 để giúp cậu học sinh hậu đậu Nobi Nobita. Cùng trải qua rất nhiều chuyến phiêu lưu với những người bạn tốt bụng: Shizuka (cô bạn nữ duy nhất của nhóm, tốt bụng và dễ thương), Suneo (công tử nhà giàu, có tính khoe khoang nhưng có một tấm lòng tốt), Giant ("ca sĩ" của nhóm, giọng hát tệ cực tệ, hay bắt nạt bạn bè nhất là Nobita nhưng bù lại cậu rất tốt bụng). Cùng với những cuộc phiêu lưu, họ đến những nơi khác nhau, được mô tả bởi Doraemon Long Stories
		
</description>
    <author email="info@apptruyen.com" href="http://apptruyen.com">
        App truyen
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<preference name="fullscreen" value="true" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />

	<icon src="res/icon.png" />
	<gap:splash src="res/screen/splash.png" />
	
    <icon src="res/57.png" gap:platform="ios" width="57"  height="57" />
    <icon src="res/72.png" gap:platform="ios" width="72"  height="72" />
    <icon src="res/76.png" gap:platform="ios" width="76"  height="76" />
    <icon src="res/120.png" gap:platform="ios" width="120"  height="120" />
    <icon src="res/152.png" gap:platform="ios" width="152"  height="152" />
    <gap:splash src="res/screen/splash.png" gap:platform="ios" width="640"  height="1136" />
	
	<icon gap:platform="winphone" src="res/icon.png" />
    <gap:splash gap:platform="winphone" src="res/screen/splash.png" />
	
	<!-- allow access everywhere on internet -->
    <access origin="*" />
</widget>
